
.barchart {
    stroke: none;
}

.barchart[data-scaledvalue="null"] {
    fill: #d3d3d3
}

.barchart[data-scaledvalue="0"] {
    fill: #ffbb1c
}

.barchart[data-scaledvalue="1"] {
    fill: #ccc01d
}

.barchart[data-scaledvalue="2"] {
    fill: #9bbf36
}

.barchart[data-scaledvalue="3"] {
    fill: #69bb52
}

.barchart[data-scaledvalue="4"] {
    fill: #2db46d
}

.barchart[data-scaledvalue="5"] {
    fill: #00aa84
}

.barchart[data-scaledvalue="6"] {
    fill: #009f96
}

.barchart[data-scaledvalue="7"] {
    fill: #0093a1
}

.barchart[data-scaledvalue="8"] {
    fill: #0085a3
}

.barchart[data-scaledvalue="9"] {
    fill: #05779c
}

/* value "10" is when indeed the maximum value is reached */
.barchart[data-scaledvalue="10"] {
    fill: #05779c
}

.barchart:hover {
    fill: #ffbb1c;
    stroke: #ffbb1c;
    stroke-width: 15;

}
